body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 30px;
  line-height: 26px;
}

h2 {
  font-size: 21px;
  line-height: 26px;
}

.positioner {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, .2);
}

.header {
  background-color: white;
}

.welcome-block {
  min-width: 768px;
  background-image: url('../img/bg-index-main.jpg');
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome-img {
  width: 500px;
  height: 450px;
  background-image: url('../img/bg-index-logo.png');
  background-position: center 75px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.welcome-mask {
  width: 100%;
  background-image: url('../img/bg-index-mask.png');
  background-position: center top;
  background-repeat: no-repeat;
  height: 57px;
  background-size: 100% 57px;
}

.welcome-text {
  padding: 60px 0;
  background: #fff;
}

.features-block {}
