/*Common CSS*/

@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'), url('../font/symbols-sedona.woff?60737633') format('woff'), url('../font/symbols-sedona.ttf?60737633') format('truetype'), url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/

  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */

  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before {
  content: '\66';
}
/* 'f' */

.icon-twitter:before {
  content: '\74';
}
/* 't' */

.icon-up-dir:before {
  content: '\25b2';
}
/* '▲' */

.icon-down-dir:before {
  content: '\25bc';
}
/* '▼' */

.icon-star:before {
  content: '\2605';
}
/* '★' */

.icon-check-off:before {
  content: '\2610';
}
/* '☐' */

.icon-check-on:before {
  content: '\2611';
}
/* '☑' */

.icon-calendar:before {
  content: '\e800';
}
/* '' */

.icon-plus:before {
  content: '\e801';
}
/* '' */

.icon-minus:before {
  content: '\e802';
}
/* '' */

.icon-youtube:before {
  content: '\f39e';
}
/* '' */

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333;
}

ul,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 30px;
  line-height: 26px;
}

h2 {
  font-size: 21px;
  line-height: 26px;
}

.btn {
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  font-family: 'PT Sans', Arial, sans-serif;
}

.positioner {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, .2);
}

.header {
  height: 57px;
  margin: 0;
  padding: 0;
  background-color: white;
  list-style: none;
}

.header li {
  height: 57px;
  display: inline-block;
  width: 20%;
  margin-right: -4px;
  text-align: center;
  line-height: 57px;
  vertical-align: middle;
}

.header a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.header .logo {
  position: relative;
  z-index: 1;
}

.header a:hover {
  color: rgba(129, 179, 210, 1);
}

.header a:active {
  color: rgba(0, 0, 0, .3);
}

.header a.active {
  color: rgba(118, 99, 87, 1);
}

.header a.active:hover {
  color: rgba(96, 78, 67, 1);
}

.header a.active:active {
  color: rgba(118, 99, 87, .3);
}

.footer {}

.footer-column {
  width: 33.33%;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}

.footer-contacts {
  float: left;
}

.footer-social {
  float: left;
}

.footer-copyright {
  float: right;
}

.footer-copyright a {
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  background-image: url('../img/created-by-sprite.png');
}

.footer-copyright a:hover {
  background-position: 0 -40px;
}

.footer-copyright a:active {
  background-position: 0 -80px;
}

.footer-contacts a {
  color: black;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

.footer .social {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 6px;
  vertical-align: middle;
  line-height: 48px;
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  text-align: center;
  background-color: rgba(129, 179, 210, 1);
}

.footer .social:hover {
  background-color: rgba(102, 158, 192, 1);
}

.footer .social:active {
  background-color: rgba(84, 150, 189, 1);
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
/*CSS for index.html*/

.welcome-block {
  min-width: 768px;
  background-image: url('../img/bg-index-main.jpg');
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-img {
  width: 500px;
  height: 450px;
  background-image: url('../img/bg-index-logo.png');
  background-position: center 75px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.welcome-mask {
  background-image: url('../img/bg-index-mask.png');
  background-position: center top;
  background-repeat: no-repeat;
  height: 57px;
  background-size: 100% 57px;
  margin-right: -1px;
}

.welcome-text {
  padding: 60px 0;
  background: #fff;
  text-align: center;
}

.welcome-text h2 {
  margin-bottom: 40px;
}

.features-block {
  margin-right: -1px;
}

.features-item {
  display: inline-block;
  height: 206px;
  width: 33.33%;
  margin-right: -4px;
  text-align: center;
  vertical-align: top;
  padding-top: 50px;
}

.accent-item {
  background-color: rgba(129, 179, 210, 1);
  color: #fff;
}

.accent-item h2 {
  color: #fff;
}

.img-item {
  width: 66.66%;
}

.pic-item {
  background-color: #fff;
  padding-top: 60px;
  height: 270px;
}

.pic-item .pic {
  height: 76px;
  width: 75px;
  background-image: url('../img/pics.png');
  margin: 0 auto;
  margin-bottom: 30px;
}

.pic-item .home {
  background-position: -12px -27px;
}

.pic-item .food {
  background-position: -112px -30px;
}

.pic-item .box {
  background-position: -212px -24px;
}

.img-item-right {
  background-image: url('../img/bg-index-1.jpg');
  width: 66.66%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-item-left {
  background-image: url('../img/bg-index-2.jpg');
  width: 66.66%;
  background-size: cover;
  background-repeat: no-repeat;
}

.features-item .number {
  display: inline-block;
  margin-top: 15px;
}

.features-item p {
  margin-top: 25px;
}

.search-block {
  background-color: #fff;
  text-align: center;
  padding-top: 55px;
}

.search-block-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}

.search-block p {
  margin-bottom: 45px;
}

.search-form {
  position: relative;
  width: 570px;
  margin: 0 auto;
  height: 85px;
}

.form-btn {
  height: 85px;
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  color: #fff;
  background-color: rgba(118, 99, 87, 1);
}

.form-btn:hover {
  cursor: pointer;
  background-color: rgba(129, 179, 210, 1);
}

.search-form form {
  display: none;
  position: absolute;
  z-index: 1;
  top: 85px;
  text-align: left;
  padding: 55px;
  background: #fff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
}

.search-form label {
  width: 100%;
  display: inline-block;
  font-weight: bold;
}

.search-form .half-label {
  margin-right: -4px;
  width: 50%;
}

.search-form label:last-child {
  padding-left: 20px;
}

.search-form input[type="text"] {
  box-sizing: border-box;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 14px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  margin-bottom: 30px;
}

.search-form .calendar {
  width: 345px;
  float: right;
}

.search-form .counter {
  width: 115px;
  float: right;
}

.show-form form {
  display: block;
}

.show-form .form-btn {
  box-shadow: 0 10px 20px 0 rgba(0, 1, 1, .25);
}

.search-form .search-btn {
  display: block;
  width: 100%;
  background-color: rgba(129, 179, 210, 1);
  height: 58px;
}

#map {
  height: 473px;
}
/*CSS for catalog.html*/

.content {
  padding: 30px 70px;
}

.filter {
  background-image: url('../img/bg-hotels-filter.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 14px;
}

.filter1, .filter2 {
  width: 24%;
  float: left;
}

.filter3 {
  width: 310px;
  float: right;
}

.filter ul {
  list-style: none;
}

.filter-group {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter li {
  line-height: 45px;
}
