/*Common CSS*/

@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'), url('../font/symbols-sedona.woff?60737633') format('woff'), url('../font/symbols-sedona.ttf?60737633') format('truetype'), url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/

  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */

  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before {
  content: '\66';
}
/* 'f' */

.icon-twitter:before {
  content: '\74';
}
/* 't' */

.icon-up-dir:before {
  content: '\25b2';
}
/* '▲' */

.icon-down-dir:before {
  content: '\25bc';
}
/* '▼' */

.icon-star:before {
  content: '\2605';
}
/* '★' */

.icon-check-off:before {
  content: '\2610';
}
/* '☐' */

.icon-check-on:before {
  content: '\2611';
}
/* '☑' */

.icon-calendar:before {
  content: '\e800';
}
/* '' */

.icon-plus:before {
  content: '\e801';
}
/* '' */

.icon-minus:before {
  content: '\e802';
}
/* '' */

.icon-youtube:before {
  content: '\f39e';
}
/* '' */

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333;
}

ul,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: red;
}

h1,
h2 {
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 30px;
  line-height: 26px;
}

h2 {
  font-size: 21px;
  line-height: 26px;
}

.btn {
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  font-family: 'PT Sans', Arial, sans-serif;
}

.btn-blue {
  background-color: #81b3d2;
  color: #fff;
}

.btn-blue:hover {
  background-color: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, .3);
  background-color: #5496bd;
}

.btn-brown {
  background-color: #766357;
  color: #fff;
}

.btn-brown:hover {
  background-color: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, .3);
  background-color: #503e33;
}

.positioner {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, .2);
  background-color: #fff;
}

.index .positioner { position: relative; }

.header {
  height: 57px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header li {
  height: 57px;
  display: inline-block;
  width: 20%;
  margin-right: -4px;
  text-align: center;
  line-height: 57px;
  vertical-align: middle;
}

.header a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.header .logo {
  position: relative;
  z-index: 1;
}

.header a:hover {
  color: rgba(129, 179, 210, 1);
}

.header a:active {
  color: rgba(0, 0, 0, .3);
}

.header a.active {
  color: rgba(118, 99, 87, 1);
}

.header a.active:hover {
  color: rgba(96, 78, 67, 1);
}

.header a.active:active {
  color: rgba(118, 99, 87, .3);
}
.footer {
  width: 100%; }

.index .footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,.9); }

.footer-column {
  width: 33.33%;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}

.footer-contacts {
  float: left;
}

.footer-social {
  float: left;
}

.footer-copyright {
  float: right;
}

.footer-copyright a {
  display: inline-block;
  width: 113px;
  height: 39px;
  vertical-align: middle;
  background-image: url('../img/created-by-sprite.png');
}

.footer-copyright a:hover {
  background-position: 0 -40px;
}

.footer-copyright a:active {
  background-position: 0 -80px;
}

.footer-contacts a {
  color: black;
  font-size: 21px;
  font-weight: bold;
}

.footer .social {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 6px;
  vertical-align: middle;
  line-height: 48px;
  font-size: 21px;
  text-align: center;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
/*CSS for index.html*/

.welcome-block {
  min-width: 768px;
  background-image: url('../img/bg-index-main.jpg');
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-img {
  width: 500px;
  height: 450px;
  background-image: url('../img/bg-index-logo.png');
  background-position: center 75px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.welcome-mask {
  background-image: url('../img/bg-index-mask.png');
  background-position: center top;
  background-repeat: no-repeat;
  height: 57px;
  background-size: 100% 57px;
  margin-right: -1px;
}

.welcome-text {
  padding: 60px 0;
  background: #fff;
  text-align: center;
}

.welcome-text h2 {
  margin-bottom: 40px;
}

.features-block {
  margin-right: -1px;
}

.features-item {
  display: inline-block;
  height: 206px;
  width: 33.33%;
  margin-right: -4px;
  text-align: center;
  vertical-align: top;
  padding-top: 50px;
}

.accent-item {
  background-color: rgba(129, 179, 210, 1);
  color: #fff;
}

.accent-item h2 {
  color: #fff;
}

.img-item {
  width: 66.66%;
}

.pic-item {
  padding-top: 60px;
  height: 270px;
}

.pic-item .pic {
  height: 76px;
  width: 75px;
  background-image: url('../img/pics.png');
  margin: 0 auto;
  margin-bottom: 30px;
}

.pic-item .home {
  background-position: -12px -27px;
}

.pic-item .food {
  background-position: -112px -30px;
}

.pic-item .box {
  background-position: -212px -24px;
}

.img-item-right {
  background-image: url('../img/bg-index-1.jpg');
  width: 66.66%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-item-left {
  background-image: url('../img/bg-index-2.jpg');
  width: 66.66%;
  background-size: cover;
  background-repeat: no-repeat;
}

.simple-item {
  background-color: #f2f2f2;
}

.features-item .number {
  display: inline-block;
  margin-top: 15px;
}

.features-item p {
  margin-top: 25px;
}

.search-block {
  text-align: center;
  padding-top: 55px;
}

.search-block-title {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
}

.search-block p {
  margin-bottom: 45px;
}

.search-form {
  position: relative;
  width: 570px;
  margin: 0 auto;
  height: 85px;
}

.form-btn {
  height: 85px;
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  -webkit-transition: box-shadow 0.7s ease-in-out;
          transition: box-shadow 0.7s ease-in-out;
}

.form-btn:hover {
  cursor: pointer;
}

.show-form .form-btn {
  box-shadow: 0 10px 20px 0 rgba(0, 1, 1, .25);
}

.form-overflow {
  overflow: hidden;
  position: relative;
  z-index: 1;
  top: 85px;
  height: 0;
  -webkit-transition: height 0.7s ease-in-out;
          transition: height 0.7s ease-in-out;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
}

.show-form .form-overflow {
  display: block;
  height: 372px;
}

.search-form form {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 55px;
  background: #fff;
}

.search-form label {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  line-height: 38px;
  vertical-align: middle;
  font-weight: bold;
}

.search-form .left-col {
  width: 50%;
}

.search-form .right-col {
  float: right;
  width: 38%;
  padding-left: 20px;
}

.search-form input[type="text"] {
  box-sizing: border-box;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 38px;
  border: none;
  outline: none;
  background-color: rgba(242, 242, 242, 1);
}

.search-form .error input[type="text"] {
  background-color: rgba(255, 0, 0, .05);
}

.search-form .calendar {
  width: 345px;
  float: right;
  padding: 0 14px;
}

.search-form .counter {
  width: 115px;
  float: right;
  padding: 0 38px;
  text-align: center;
}

.search-form i {
  position: absolute;
  color: #c2c2c2;
}

.search-form i:hover {
  color: #000;
}

.search-form i:active {
  color: #81b3d2;
}

.search-form .icon-calendar {
  right: 10px;
  font-size: 21px;
}

.search-form .icon-plus {
  right: 10px;
}

.search-form .icon-minus {
  right: 85px;
}

.search-form .search-btn {
  display: block;
  width: 100%;
  height: 58px;
}

#map {
  height: 590px;
}
/*CSS for catalog.html*/

.content {
  padding: 30px 70px;
}

.filter {
  background-image: url('../img/bg-hotels-filter.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 14px;
}

.filter1,
.filter2 {
  width: 24%;
  float: left;
}

.filter3 {
  width: 310px;
  float: right;
}

.filter ul {
  list-style: none;
}

.filter-group {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter li {
  line-height: 45px;
}

.range-controls {
  position: relative;
  height: 22px;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  height: 2px;
  background-color: #fff;
}

.range-controls .toggle {
  position: absolute;
  top: 12px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px rgba(0, 1, 1, .14);
}

.range-controls .toggle:hover {
  background-color: #1c4f80;
}

.range-controls .max {
  left: 145px;
}

.price-controls {
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 5px 0;
}

.price-controls .from {
  margin-left: 65px;
}

.price-controls .to {
  margin-left: 50px;
}

.price-controls input {
  width: 66px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  border: none;
  background: none;
  outline: none;
}

.price-controls .input-border {
  border-right: 2px solid #fff;
}

.filter .search-btn {
  display: block;
  margin: 12px auto;
  padding: 5px 35px;
  font-size: 14px;
  font-weight: normal;
  border: 2px solid #fff;
  border-radius: 2px;
  background: none;
  cursor: pointer;
}

.filter input[type="checkbox"] {
  display: none;
}

.filter input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  cursor: pointer;
  vertical-align: top;
}

.filter input[type="checkbox"] + label:before {
  content: '\2610';
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "symbols-sedona";
  font-size: 26px;
  color: #b5b5b5;
}

.filter input[type="checkbox"] + label:hover:before {
  color: #fff;
}

.filter input[type="checkbox"]:disabled + label:before {
  color: #6a6a6a;
}

.filter input[type="checkbox"]:checked + label:before {
  content: '\2611';
}

.sortbar .total,
.sortbar-title,
.sortbar a {
  display: inline-block;
}

.sortbar .total {
  font-size: 21px;
  font-weight: bold;
  width: 165px;
}

.sortbar-title,
.sortbar a {
  font-size: 12px;
  margin-right: 35px;
}

.sortbar a {
  color: rgba(0, 0, 0, .3);
  border-bottom: 1px dotted #81b3d2;
}

.sortbar a:hover {
  color: #81b3d2;
}

.sortbar a:active {
  color: #000;
  border: none;
}

.sortbar .active,
.sortbar .order a:hover.active {
  color: #81b3d2;
  border: none;
}

.sortbar .order {
  float: right;
}

.sortbar .order a {
  margin: 0;
  border: 0;
  font-size: 19px;
}

.sortbar .order a:hover {
  color: #000;
}

.sortbar .order a:active {
  color: #81b3d2;
}

.catalog ul {
  list-style: none;
}

.catalog .item {
  position: relative;
  padding-left: 237px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog .item:first-child {
  border-top: 1px solid #e5e5e5;
}

.catalog .img-item img {
  position: absolute;
  left: 70px;
}

.catalog .title {
  display: inline-block;
  margin-bottom: 13px;
  font-size: 21px;
  font-weight: bold;
  line-height: 16px;
  color: #000;
}

.catalog .title:hover {
  color: #81b3d2;
}

.catalog .title:active {
  color: rgba(0, 0, 0, .3);
}

.catalog .details {
  margin-bottom: 13px;
  font-size: 14px;
}

.catalog .hotel-type {
  min-width: 113px;
}

.catalog .item-buttons a {
  font-size: 14px;
  padding: 3px 17px;
}

.catalog .details div,
.catalog .item-buttons a {
  display: inline-block;
}

.catalog .stars,
.catalog .rate {
  position: absolute;
  right: 70px;
}

.catalog .stars {
  top: 30px;
  width: 135px;
  font-size: 19px;
  word-spacing: -7px;
  text-align: right;
  color: #81b3d2;
  margin-right: -5px;
}

.catalog .rate {
  bottom: 30px;
  padding: 3px 17px;
  background-color: #f2f2f2;
}
